.wrapper {
  width: 100%;
  border-bottom: 1px solid #eee;

  .locationName {
    width: 80%;
    margin: 0 auto;
    height: 60px;

    .locationBlock {
      display: flex;
      align-items: center;

      h4 {
        margin-left: 6px;
        color: rgb(184, 171, 171);
        font-weight: lighter;
      }
    }

    .locationIcon {
      color: rgb(184, 171, 171);
      font-size: 1.23rem;
    }
  }
}
