.background-photo {
  background-image: url("../../img/hotel.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  padding-top: 20px;

  h2 {
    color: white;
    margin: 0;
  }
}
