.background-photo {
  background-image: url("https://a0.muscache.com/pictures/18084f37-67e0-400f-bfd8-55eea0e89508.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  padding-top: 20px;

  h2 {
    color: white;
    margin: 0;
  }
}
