@import "../../scss/variables";

.calendar {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    @media screen and (max-width: 1027px) {
      width: 80%;
    }

    @media screen and (max-width: 1027px) {
      width: 90%;
    }

    @media screen and (max-width: 414px) {
      flex-direction: column;
      justify-content: unset;
      width: 100%;
    }

    .react-date-picker__wrapper {
      border: none;
    }
    
    .check-in {
      padding: 5px;
      border-radius: 6px;
      border: 2.4px solid rgb(77, 156, 77);
      background-color:  $light-background;
    }

    .check-out {
      padding: 5px;
      border-radius: 6px;
      border: 2.4px solid rgb(168, 65, 65);
      background-color: $light-background;

      @media screen and (max-width: 1027px) {
        margin-top: 15px;
      }
    }

    p {
      margin: 0;
      letter-spacing: 1.4px;
    }

    .count {
      width: 20%;
      margin-bottom: 4px;

      @media screen and (max-width: 414px) {
        width: 50%;
        margin-top: 15px;
      }

      .people {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2.3px solid $main-color;
        border-radius: 6px;
        padding: 3.8px 0;
        background-color: $light-background;

        .icon {
          font-size: 1.5rem;
          cursor: pointer;
          font-weight: 400;
        }
      }
    }

    .check-button {
      width: 16%;
      padding: 10px 0;
      background-color: $main-color;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover {
        background-color: $main-color-hover;
      }

      @media screen and (max-width: 414px) {
        width: 50%;
        margin-top: 10px;
      }
    }
  }